:root {
    --primary: #4628ff;
    --warning: #ffd028;
    --danger: #eb3f27;
    --success: #75fa83;
    --white: #fdfdfd;
    --dark: #181717;
}

.btn {
    font-family: 'tt-wellingtons', Helvetica, sans-serif;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}

/* Button Colors and Styles */

.btn--primary--solid {
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid transparent;
}

.btn--primary--outline {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}

/* Button Sizes */

.btn--medium {
    padding: 10px 20px;
    font-size: 18px;
}

.btn--small {
    padding: 6px 12px;
    font-size: 14px;
}